<a class="auth-button-link auth-google-button" href="{{ path('app_oidc_google_start', { _locale: app.request.locale }) }}">
    <span class="auth-google-icon" aria-hidden="true">G</span>
    {{ 'security.oidc.google_cta'|trans }}
</a>
