{% extends 'base.html.twig' %}

{% block title %}{{ 'security.resend.page_title'|trans }}{% endblock %}

{% block body %}
    <main class="auth-page">
        <section class="auth-card">
            {% include 'security/_card_header.html.twig' with { title: 'security.resend.title' } %}

            {% include 'security/_flashes.html.twig' %}

            <form method="post" class="auth-form">
                {% include 'security/_honeypot_field.html.twig' with { honeypotId: 'resend-website' } %}
                <label class="auth-field" for="resend-email">
                    <span>{{ 'security.resend.email'|trans }}</span>
                    <input
                        id="resend-email"
                        name="email"
                        type="email"
                        required
                        autocomplete="email"
                    >
                </label>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('resend_verification') }}">
                {% include 'security/_turnstile.html.twig' %}

                {% include 'security/_primary_actions.html.twig' with { submitLabel: 'security.resend.submit' } %}
            </form>

            {% include 'security/_links.html.twig' with {
                links: [
                    { route: 'app_login', label: 'security.resend.to_login' },
                    { route: 'app_contact', label: 'security.login.to_contact' }
                ]
            } %}
        </section>
    </main>
    {% include 'security/_turnstile_script.html.twig' %}
{% endblock %}
